* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;

}

.profileContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    box-shadow: 0 0 40px black;
    background-color: #f2f2f2;
}


.basicInfo {
    width: 100%;
    background-color: gainsboro;
    justify-content: center;
    display: block;
    padding: 50px 20px 10px 20px;

}

.main-row {
    width: 100%;
    padding: 5px;
    float: left;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid gray;
    background-color: #cccccc;
    border-radius: 10px;
}

.add-column {
    width: 20%;
    float: left;
    padding: 5px;
}

.search-column {
    width: 50%;
    float: left;
    padding: 5px;
}

.sort-column {
    width: 30%;
    float: left;
    padding: 5px;
}

.row-option {
    float: left;
    width: 100%;
}

.label-col {
    float: left;
    width: 25%;
    padding-top: 15px;
    text-align: center;
}

.option-col {
    float: left;
    width: 75%;
}


.search-field, .select-option, .submit-button {
    padding: 10px;
    float: left;
    margin-left: 5px;
}

.add-button {
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    width: 100%;
    display: block;
    padding: 10px;
    background-color: darkslategrey;
    color: white;
    float: left;
}

.permission {
    border: 2px black solid;
    border-radius: 15px;
    box-shadow: 2px 10px 2px black;
    margin-top: 150px;
    margin-bottom: 100px;
    color: brown;
    background: lavenderblush;
    text-align: center;
    padding: 10px;
    clear: both;
}

.readerInfo {
    margin-top: 40px;
    padding: 10px;
}

.readerInfo td {
    padding: 20px;
    height: auto;
}

.readerInfo h2 {
    font-family: monospace;
    font-size: 25px;
}

@media screen and (max-width: 800px) {
    .column-one,
    .add-column,
    .search-column,
    .sort-column,
    .search-field,
    .select-option,
    .search-button,
    .row-option,
    .label-col,
    .option-col,
    .submit-button {
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }

    .row-option {
        margin: 0 auto;
    }

}