/* Reset default styles and set box sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main container */
.main-container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 25px;
    background-color: #f2f2f2;
}

/* Tiny header */
.tiny-header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #035a8c;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

/* Permission container */
.permission {
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    padding: 20px;
    color: #333;
    background: #f9f9f9;
    text-align: center;
}

/* Book container */
.book-container {
    display: flex;
    /*flex-wrap: wrap;*/
    margin: 10px 0;
}

.book-img {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.book-img img {
    width: 100%;
    border-radius: 10px;
}

.book-description {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
}

.book-description h2 {
    margin-bottom: 20px;
}

.book-description span {
    color: #777;
}

.book-description p {
    margin-bottom: 25px;
    line-height: 1.6;
}

/* Book table info */
.book-table-info {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

.book-table-info th, .book-table-info td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Comments section */
.comments {
    clear: both;
    margin-top: 20px;
}

/* Form styles */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 6px 0 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}