/** {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.book-card {*/
/*    width: 14%;*/
/*    padding: 10px;*/
/*    background-color: azure;*/
/*    border: 1px solid black;*/
/*    margin: 20px 10px;*/
/*    float: left;*/
/*    border-radius: 15px;*/
/*}*/


/*.book-btn {*/
/*    margin: 5px 0 5px 0;*/
/*    width: 100%;*/
/*    padding: 5px;*/
/*    border-radius: 10px;*/
/*    background-color: darkslategrey;*/
/*    box-shadow: 2px 2px 5px black;*/
/*    color: white;*/
/*    font-size: 14px;*/
/*    text-align: center;*/
/*}*/

/*.card-container {*/
/*    position: relative;*/
/*    width: 100%;*/

/*}*/

/*.book-image {*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 150px;*/
/*    border-radius: 15px;*/
/*}*/


/*.name-overlay {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    transition: .5s ease;*/
/*    opacity: 0.2;*/
/*    background-color: black;*/
/*    color: white;*/
/*    padding: 4px;*/
/*    border-radius: 0 0 15px 15px;*/
/*}*/

/*.book-info, .book-row {*/
/*    width: 100%;*/
/*    float: left;*/
/*    margin-top: 5px;*/
/*}*/

/*.book-name {*/
/*    float: left;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/

/*.book-available {*/
/*    float: left;*/
/*    width: 60%;*/
/*    padding: 5px;*/
/*}*/

/*.book-quantity {*/
/*    float: left;*/
/*    width: 40%;*/
/*    border: 1px solid black;*/
/*    text-align: center;*/
/*    padding: 5px;*/
/*    opacity: 1;*/
/*    border-radius: 40px;*/
/*    background-color: white;*/
/*    color: black;*/
/*}*/

/*.book-quantity p {*/
/*    width: 100%;*/

/*}*/

/*.view-book, .edit-book {*/
/*    width: 100%;*/
/*    padding: 5px;*/
/*}*/

/*.book-card:hover .name-overlay {*/
/*    opacity: 1;*/
/*}*/

/*.book-card:hover {*/
/*    box-shadow: 0 10px 10px 5px darkgray;*/

/*}*/

/*@media screen and (max-width: 900px) {*/
/*    .book-card {*/
/*        width: 20%;*/
/*        margin: 10px;*/

/*    }*/
/*}*/

/*@media screen and (max-width: 600px) {*/
/*    .book-card {*/
/*        width: 30%;*/
/*        margin: 10px 5px;*/
/*    }*/

/*}*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.book-card {
    width: 14%;
    padding: 10px;
    background-color: azure;
    border: 1px solid black;
    margin: 20px 10px;
    float: left;
    border-radius: 15px;
}


.book-btn {
    margin: 5px 0 5px 0;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    background-color: darkslategrey;
    box-shadow: 2px 2px 5px black;
    color: white;
    font-size: 14px;
    text-align: center;
}

.card-container {
    position: relative;
    width: 100%;

}

.book-image {
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 15px;
}


.name-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: .5s ease;
    opacity: 0.2;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 0 0 15px 15px;
}

.book-info, .book-row {
    width: 100%;
    float: left;
    margin-top: 5px;
}

.book-name {
    float: left;
    width: 100%;
    text-align: center;
}

.book-available {
    float: left;
    width: 60%;
    padding: 5px;
}

.book-quantity {
    float: left;
    width: 40%;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    opacity: 1;
    border-radius: 40px;
    background-color: white;
    color: black;
}

.book-quantity p {
    width: 100%;

}

.view-book, .edit-book {
    width: 100%;
    padding: 5px;
}

.book-card:hover .name-overlay {
    opacity: 1;
}

.book-card:hover {
    box-shadow: 0 10px 10px 5px darkgray;

}

@media screen and (max-width: 900px) {
    .book-card {
        width: 20%;
        margin: 10px;

    }
}

@media screen and (max-width: 600px) {
    .book-card {
        width: 30%;
        margin: 10px 5px;
    }

}

