/* Global Styles */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
}

.library-heading {
    color: #222;
    font-size: 36px;
    margin-bottom: 10px;
}

.library-image {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.library-image:hover {
    transform: scale(1.1);
}

.main-section {
    margin-top: 40px;
}

.contact-info {
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info {
    color: #666;
    font-size: 18px;
}

.contact-details {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-item {
    flex: 0 0 calc(33.33% - 40px);
    text-align: center;
}

.contact-item i {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007BFF;
}

.contact-item p {
    font-size: 16px;
    margin: 0;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .library-heading {
        font-size: 30px;
    }

    .library-image {
        max-width: 70%;
    }
}
