/* General footer styles */
.footer {
    clear: both;
    background-color: #333333;
    padding: 10px;
    margin-top: 10px;
    width: auto;
    bottom: 0;
    left: 0;
    position: relative;
}

/* Styles for the left column (footMenu) */
.footMenu {
    width: 50%;
    float: left;
    text-align: center;
}

.footer ul {
    padding: 0;
    margin: 0;
}

.footer li {
    list-style: none;
    padding-bottom: 8px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: aqua;
}

/* Styles for the right column (socialMedia) */
.socialMedia {
    width: 50%;
    float: left;
    text-align: center;
}

.socialMedia ul {
    padding: 0;
    margin: 0;
}

.socialMedia li {
    list-style: none;
    padding-bottom: 8px;
}

.socialMedia a {
    color: white;
    text-decoration: none;
}

.socialMedia a:hover {
    color: aqua;
}

/* Styles for the profileFooter (visible when the user is logged in) */
.profileFooter {
    background-color: #333333;
    height: auto;
    padding: 20px;
    text-align: center;
    color: white;
    clear: both;
}

.profileFooter a {
    color: aqua;
    padding-left: 5px;
}

/* Styles for the copyright section */
.footer .copyright {
    clear: both;
    text-align: center;
    color: white;
}
