/* Container */

.container {
    width: 100%;
    padding: 30px 0 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
}

/* Add Comment Form */

.add-comment {
    width: 100%;
    text-align: left;
    margin: 5px 0 25px 25px;
}

.editContainerForm {
    background-color: #f2f2f2;
    width: 90%;
    box-shadow: 10px 10px 8px black;
    border-radius: 15px;
    padding: 15px;
    border: 4px solid black;
    transition: transform 0.3s ease;
}

.editContainerForm:hover {
    transform: scale(1.02);
}

/* Form Elements */

.row {
    padding: 5px;
    width: 80%;
    transition: background-color 0.3s ease;
}

.row:hover {
    background-color: #f2f2f2;
}

.labelCol {
    width: 25%;
    float: left;
}

.label {
    display: inline-block;
    padding: 8px 12px 8px 0;
}

.inputCol {
    width: 75%;
    float: left;
}

input[type=text],
select,
input[type=number],
input[type=email],
input[type=date] {
    width: 100%;
    resize: vertical;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type=text]:focus,
select:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=date]:focus {
    border-color: darkcyan;
}

input[type=submit] {
    padding: 20px 40px 20px 40px;
    float: right;
    font-size: 18px;
    border-radius: 10px;
    background-color: darkcyan;
    color: aliceblue;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type=submit]:hover {
    background-color: #008b8b;
    transform: scale(1.05);
}

.row:after {
    clear: both;
    display: table;
    content: "";
}

/* Media Query for Small Screens */

@media screen and (max-width: 800px) {
    .labelCol,
    .inputCol {
        width: 100%;
        display: block;
    }
}
