* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f2f2f2;
    line-height: 1.6;
}

header {
    background-color: #007BFF;
    text-align: center;
    padding: 20px 0;
}

.library-heading {
    font-size: 42px;
    color: #FFF;
    margin-bottom: 10px;
}

.library-image {
    display: block;
    margin: 0 auto;
    max-width: 95%;
    height: auto;
    border: 3px solid #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.library-image:hover {
    transform: scale(1.05);
}

.main-section {
    background-color: #FFF;
    padding: 40px;
    text-align: center;
}

.main-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #007BFF;
}

.main-section p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.second-section {
    background-color: #F7F7F7;
    padding: 40px;
}

.second-section h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #007BFF;
}

.second-section p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 20px;
    transition: background-color 0.2s ease-in-out;
    border-bottom: 2px solid #EEE;
}

.column:last-child {
    border-bottom: none;
}

.column:hover {
    background-color: #F2F2F2;
}

.footer {
    background-color: #007BFF;
    color: #FFF;
    text-align: center;
    padding: 20px 0;
}
