/* Reset default styles and set box sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
}

/* Login container */
.loginContainer {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
}

/* Login form */
.form {
    width: 420px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Form input styles */
.form input {
    width: 80%;
    padding: 12px;
    border-radius: 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Login button styles */
#btnLog {
    margin-top: 20px;
    border-radius: 20px;
    align-content: center;
    height: 40px;
    font-size: 20px;
    font-family: cursive;
    color: white;
    background-color: deepskyblue;
    border: none;
    cursor: pointer;
}

/* Registration link styles */
.register {
    margin-top: 40px;
    font-size: 16px;
    color: #777;
    text-decoration: none;
}

.register:hover {
    color: deepskyblue;
}
