/* Top Navigation */
.top-nav {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    padding: 0;
    background-color: #333333;
    position: fixed;
    top: 0;
    z-index: 1;
}

.top-nav a {
    float: left;
    display: block;
    color: #f0f0f0;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    font-family: "Helvetica Neue", sans-serif;
}

.active {
    background-color: #008cba;
    color: #fff;
}

.top-nav .icon {
    display: none;
    color: #f0f0f0;
    height: 48px;
    background-color: #222;
    font-size: 20px;
    border: 0;
    width: 50%;
    text-align: center;
}

.log-btn {
    float: right;
    background-color: #444;
    width: 100px;
}

.log-btn a {
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.drop-btn {
    display: inline-block;
    color: #f0f0f0;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-family: "Arial", sans-serif;
}

.top-nav a:hover,
.icon:hover,
.dropdown:hover,
.drop-btn:hover,
.dropdown-content button[type=submit]:hover {
    background-color: #008cba;
}

/* Dropdown Menu */
.dropdown-content {
    display: none;
    position: fixed;
    text-align: center;
    min-width: 120px;
    width: inherit;
    z-index: 1;
    font-family: "Arial", sans-serif;
    font-size: 14px;
}

.dropdown-content a,
.dropdown-content button[type=submit] {
    color: #f0f0f0;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #444;
    width: 100%;
    display: block;
    border: none;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #222;
}

.dropdown:hover .dropdown-content {
    margin-top: 42px;
    display: block;
    z-index: 1;
}

/* Responsive Design */
@media screen and (max-width: 800px) {
    .top-nav a:not(:first-child),
    .dropdown .drop-btn {
        display: none;
    }

    .top-nav .icon {
        float: right;
        display: block;
    }

    .dropdown-content,
    .dropdown:hover .dropdown-content {
        margin: 0;
    }

    .top-nav.responsive {
        position: relative;
    }

    .top-nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .top-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .top-nav.responsive .dropdown {
        float: none;
    }

    .top-nav.responsive .dropdown-content {
        position: relative;
    }

    .top-nav.responsive .dropdown .drop-btn {
        display: block;
        width: 100%;
        text-align: left;
    }
}
