/* Global Styles */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
}

.library-heading {
    color: #222;
    font-size: 36px;
    margin-bottom: 10px;
}

.library-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-section {
    margin-top: 40px;
}

.article {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.article h3 {
    color: #555;
    margin-top: 0;
}

.date {
    color: #999;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

.second-section {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.column {
    flex-basis: calc(33.33% - 20px);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .library-heading {
        font-size: 30px;
    }

    .library-image {
        max-width: 80%;
    }

    .second-section {
        flex-wrap: wrap;
    }

    .column {
        flex-basis: 100%;
    }
}
