/* Reset default styles and set box sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Go to Top button */
.go-to-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: deepskyblue;
    color: white;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    padding: 15px;
    z-index: 1;
    opacity: 0.5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.go-to-top:hover {
    background: #555;
    opacity: 1;
}

/* Show button when user scrolls down */
body.scrolling .go-to-top {
    display: block;
}
