/* Reset default styles and set box sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
}

/* Table container */
.tableContainer {
    overflow-x: auto;
    width: 95%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Table styles */
.tableList {
    border: 1px solid black;
    padding: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
}

.tableList td, .tableList th {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
}

.tableList th {
    background-color: #deb887;
}

.tableList tr:nth-child(even) {
    background-color: #f5f5f5;
}

.tableList tr:nth-child(odd) {
    background-color: #fff;
}

.tableList tr:hover {
    background-color: #333;
    color: #fff;
}

/* Edit and Cancel buttons styles */
.edit, .cancel {
    height: auto;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background-color: #2f4f4f;
    color: #fff;
    border: 1px solid #333;
    box-shadow: 1px 1px #333;
    display: block;
    text-decoration: none;
    text-align: center;
}

.edit:hover, .cancel:hover {
    background-color: #fff;
    color: #333;
    box-shadow: 1px 1px #fff;
}

